* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Poppins", sans-serif;
}

#page {
    box-sizing: border-box;
    width: 800px;
    margin: 48px auto;
    padding: 24px;
    background-color: bisque;
    border-radius: 16px;
}
img {
    border-radius: 16px;
}

main {
    padding: 24px;
}

body{
    background-image: url(assets/bg.jpg);
    background-size: cover;
}

h1, h2 {
    color: #291B1A;
    margin-bottom: 4px;
    line-height: 150%;
}
h1{
    font-weight: 400;
    line-height: 140%;
    font-size: 40px;
}
h2{
    font-size: 24px;
    font-weight: 500;
}

#about p + p { 
    margin-top: 12px;
}
section + section {
    margin-top: 24px;
}
ul{
    margin-left: 16px;
}

footer{
    text-align: center;
    margin: 24px;
}
footer img{
    vertical-align: middle;
}