header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 32px;

}


#profile{
    display: flex;
    gap: 32px;
}

#profile > div{
    max-width: 384px;
}

#profile > h1{
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#profile > div > p{
    font: var(--text-md);
    color: var(--text-color-secondary);
}

#profile > img {
    border-radius: 50%;
    width: 176px;
    height: 176px;
    object-fit: cover;
}

#info {
    width: 280px;
}

#info ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

#info ul li{
    display: flex;
    gap: 8px;
    font: var(--text-md);
    color: var(--text-color-secondary);
}

#info ul li img{
    width: 24px; 
    height: 24px;
}