nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    padding-block: 20px;
}

nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 24px;
    padding-block: 4px;
    margin: 0;
    
}

nav ul li:last-child img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
