.container{
    height: 50px;
    width: 500px;
    background-color: rgb(247, 246, 246);
    border-color: blue;
    border-style: dashed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(27, 30, 32);
}

div :nth-child(1) {
    height: 20px;
    width: 20px;
    text-align: center;
    background-color: rgb(155, 142, 226);
}

div :nth-child(2) {
    height: 20px;
    width: 20px;
    text-align: center;
    background-color: hsl(103, 59%, 72%);
}

div :nth-child(3) {
    height: 20px;
    width: 20px;
    text-align: center;
    background-color: hsl(0, 59%, 72%);
}